body{
  font-size: 18px;
  font-family: Georgia, "Times New Roman", serif;
}

.highlight {
  background: black;
}

pre {
  padding: 0.7em;
  background-color: black;
  overflow: auto;
  line-height: 1.3em;
  font-size: 85%;
  color: white;
  font-family: monospace;
  white-space: pre;
}